@model CreateGameModel

@using (Html.BeginForm("CreateGame", "Admin", FormMethod.Post))
{
    <h1>Создание игры</h1>
    @Html.Hidden("id")
    <div>Название игры <input type="text" name="name" /></div>
    <br/>
    <div>Начало игры <input type="datetime-local" name="startTime" /></div>
    <br />
    <div>Время решения задач <input type="number" name="solvingTime" /></div>
    <br />
    <div>Время окончания игры <input type="datetime-local" name="endTime" /></div>
    <br />
    <div>Формат капитанского раунда <input type="text" name="captainsRoundFormat" /></div>
    @ViewBag.Message
    <input type="submit" value="Создать игру" />


<div>
   <div align="left">
       <h3>Выберите задачи для игры</h3><br />
       <table>
           <thead>
               <tr>
                   <th>
                       Id
                   </th>
                   <th>
                       Текст задачи
                   </th>
               </tr>
           </thead>
           <tbody>
           @foreach (Problem task in Model.Tasks)
           {
               <tr>
                   <td>
                       @task.Id
                   </td>
                   <td>
                       @task.Text
                   </td>
                   <td>
                        <input type="checkbox" id="chosenTasksIds" name="chosenTasksIds" value="@task.Id"> Выбрать
                   </td>
               </tr>
           }
           </tbody>
       </table>
   </div>
   <div align="right">
            <h3>Выберите студентов и их команды для игры</h3>
            Название команды 1<input type="text" name="team1Name" />
            Название команды 2<input type="text" name="team2Name" />
            <table>
           <thead>
               <tr>
                   <th>
                       Id
                   </th>
                   <th>
                       Имя
                   </th>
                   <th>
                       Фамилия
                   </th>
                   <th>
                       Отчество
                   </th>
                   <th>
                       Email
                   </th>
                   <th>
                       
                   </th>
               </tr>
           </thead>
           <tbody>
           @foreach (Student student in Model.Students)
           {
               <tr>
                   <td>
                       @student.Id
                   </td>
                   <td>
                       @student.Name
                   </td>
                   <td>
                       @student.Surname
                   </td>
                   <td>
                       @student.Fatname
                   </td>
                   <td>
                       @student.Email
                   </td>
                   <td id="student @student.Id">
                       <input type="checkbox" id="teamCheckBox" name="studentsTeam1" value="@student.Id"> Команда 1
                       <input type="checkbox" id="captainCheckBox" name="team1CaptainId" value="@student.Id"> Капитан 1 команды
                       <input type="checkbox" id="captainCheckBox" name="team1ViceCaptainId" value="@student.Id"> Заместитель капитана 1 команды<br />
                       <input type="checkbox" id="teamCheckBox" name="studentsTeam2" value="@student.Id"> Команда 2
                       <input type="checkbox" id="captainCheckBox" name="team2CaptainId" value="@student.Id"> Капитан 2 команды
                       <input type="checkbox" id="captainCheckBox" name="team2ViceCaptainId" value="@student.Id"> Заместитель капитана 2 команды<br />
                   </td>
               </tr>
           }
           </tbody>
       </table>
   </div>
</div>
}
<style>
    div {
        display: inline-block;
    }
</style>
<script>
    $("input[id='teamCheckBox']").on("change", function (e) {
        $("input[id='teamCheckBox']").filter(function () { 
            if ($(this).val() == e.target.getAttribute("value"))  return true; 
            else return false; 
        }).each(function () {
            if (e.target != this)
                this.checked = false;
        });
    })
    $("input[id='captainCheckBox']").on("change", function (e) {
        $("input[id='captainCheckBox']").filter(function () {
            if ($(this).val() == e.target.getAttribute("value")) return true;
            else return false;
        }).each(function () {
            if (e.target != this)
                this.checked = false;
        });
    })
    // $("input[id^='viceCaptainCheckBox']").on("change", function (e) {
    //     $("input[id^='aptainCheckBox']").filter(function () {
    //         if ($(this).val() == e.target.getAttribute("value")) return true;
    //         else return false;
    //     }).each(function () {
    //         if (e.target != this)
    //             this.checked = false;
    //     });
    // })
</script>