@model List<Game>
<h1>Список игр</h1>
@Html.ActionLink("Создать игру","CreateGame","Admin")
<table border="1">
    <thead>
        <tr>
            <th>
                Название боя
            </th>
            <th>
                Время начала
            </th>
            <th>
                Кол-во участников
            </th>
            <th>
                Жюри
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Game elem in Model)
        {
            <tr>
                <td>
                    @elem.Name
                </td>
                <td>
                    @elem.StartTime
                </td>
                <td>
                    @elem.Team1.Students.Count : @elem.Team2.Students.Count
                </td>
                <td>
                    @elem.Assessors.Count
                </td>
                <td>
                    @Html.ActionLink("Присоединиться", "JoinGame", "Admin")
                </td>
            </tr>
        }
    </tbody>
</table>