@{
    Layout="_Layout_Main";
}
<h2>Регистрация</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div>Имя</div> 
    @Html.TextBox("Name")<br/>
    <div>Фамилия</div> @Html.TextBox("Surname") <br/>
    <div>Отчество</div>@Html.TextBox("Fatname") <br/>

    <div>Логин</div> @Html.TextBox("Login")<br/>
    <div>Пароль</div> @Html.TextBox("Password")<br/>

    <input type="button" value="Зарегистрироваться"/>
}
